.main .status-bar {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    margin-bottom: 1rem;
}

.main .status-bar div {
    display: flex;
    margin-left: auto;
}

.main .status-bar button {
    display: flex;
    align-items: center;
    background-color: var(--color-secondary);
    border: none;
    color: var(--color-on-secondary);
    font-size: var(--average-font);
    padding: 0.6rem 1rem;
    border-radius: var(--border-radius);
    fill: var(--color-on-secondary);
    gap: 1rem;
}

.main .status-bar button:hover {
    background-color: var(--color-secondary-variant);
}

.main .status-bar button svg {
    fill: inherit;
}

.main .status-bar h3 {
    white-space: nowrap;
    margin: 0;
}

.main .status-bar h3 span {
    color: var(--color-error);
}

.main .status-bar h3 span.success {
    color: var(--color-success);
}


.main .key-status {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main .key-status h3 {
    white-space: nowrap;
}

.main .key-status .keys {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
}

.main .key-status .keys div {
    width: 2rem;
    height: 2rem;
    background-color: var(--color-surface-variant);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .key-status span {
    font-size: var(--average-font);
    color: var(--color-on-surface);
}


.typing-progress {
    position: relative;
    height: 5rem;
    margin: 0 1rem;
}

.typing-progress .track {
    width: 100%;
    background-color: var(--color-surface-dark);
    height: 4px;
    position: absolute;
    left: 0;
    z-index: 1;
    top: 50%;
    translate: 0 -50%;
}



.typing-progress .track::after {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    display: inline-block;
    background-color: var(--color-surface-dark);
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    translate: 50% -50%;
}

.typing-progress .progress {
    width: 0%;
    background-color: var(--color-secondary);
    height: 6px;
    position: absolute;
    z-index: 2;
    top: 50%;
    translate: 0 -50%;
    transition: width 500ms;
}

.typing-progress .progress::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    display: inline-block;
    background-color: var(--color-secondary);
    position: absolute;
    top: 50%;
    z-index: 2;
    translate: -50% -50%;
}

.typing-progress .progress::after {
    content: "";
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 2rem;
    display: inline-block;
    background-color: white;
    border: 4px solid var(--color-secondary);
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 2;
    translate: 50% -50%;
}