node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store
.fleet
.idea
out


# ------------------ back ------------------

# Logs
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests
coverage
.nyc_output

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
